AutoBuilder/auto_create_everything.json
{
  "name": "auto_create_everything",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download_attachments": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        200
      ],
      "id": "c7cf905f-daa3-4f10-9267-fb07e9b477a8",
      "name": "Telegram Trigger",
      "webhookId": "7086d4d6-fc07-419a-b6bb-46f4e6f0d6bc",
      "credentials": {
        "telegramApi": {
          "id": "vR9rpZShiS9oXJlB",
          "name": "auto_create_site_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c7cf905f-daa3-4f10-9267-fb07e9b477a9",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c7cf905f-daa3-4f10-9267-fb07e9b477a9",
      "name": "Check Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7cf905f-daa3-4f10-9267-fb07e9b477aa",
              "name": "website_description",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "c7cf905f-daa3-4f10-9267-fb07e9b477ab", 
              "name": "user_id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "c7cf905f-daa3-4f10-9267-fb07e9b477ac",
              "name": "chat_id", 
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "c7cf905f-daa3-4f10-9267-fb07e9b477aa",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5dbf0f1a-7d1e-4d50-b2d1-376b99378b43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f053a40281dec2fc5a49c3f7a573fb0eba58522fce9d746dd14bd1dcea8e7368"
  },
  "id": "yTZTdyB9ZV6Iw3eF",
  "tags": []
}